html {
  font-family: 'Fredoka One', cursive;
  background-image: repeating-linear-gradient(-40deg, #c9fcff, #c9fcff 10px, #d4fdff 10px, #d4fdff 20px);
  background-size: cover;
  border-top-color: #b3fbff;
  border-top-style: solid;
  border-top-width: 10px;
  min-height: 700px;
  border-bottom-color: #b3fbff;
  border-bottom-style: solid;
  border-bottom-width: 10px;
}

h1 {
  color: #990073;
  transform: rotate(-8deg) translateY(117px) scale(1.25);
  transform-origin: left center;
}

p {
  color: #c09;
  max-width: 19em;
  transform: rotate(-4deg) translate(11px, 95px);
  transform-origin: left center;
}

a {
  transform: translate(22px, 100px);
}

.btn {
  color: #c09;
}

.btn-ghost {
  border-color: #990073;
}

a:hover {
  border-color: #990073;
}

.imgs {
  transform: scale(.7);
}

.cherry {
  transform: translate(-40px, -120px);
  position: absolute;
  z-index: 10;
}

.vanilla {
  transform: translate(-40px, -10px);
  position: absolute;
  z-index: 5;
}

.chocolate {
  transform: translate(-35px, 110px);
  position: absolute;
  z-index: 2;
}

.mint {
  transform: translate(-40px, 225px);
  position: absolute;
  animation: mint 1.5s 1.4s ease-in-out;
}

@keyframes mint {
  from {
    transform: translateX(-40px);
    bottom: 100%;
  }

  to {
    transform: translate(-40px, 225px);
  }
}

.cone {
  transform: translate(-40px, 380px);
  position: absolute;
  animation: cone 1s 1s ease-in-out;
}

@keyframes cone {
  from {
    transform: translateX(-40px);
    bottom: 100%;
  }

  to {
    transform: translate(-40px, 380px);
  }
}

/**
 {
  min-height: 600px;
}
/**bottom when hidden is 0**/
