html {
  font-family: 'Fredoka One', cursive;
  background-image: repeating-linear-gradient(-40deg, #c9fcff, #c9fcff 10px, #d4fdff 10px, #d4fdff 20px);
}

h1 {
  color: #990073;
  transform: rotate(-10deg) translate(20px, 100px);
  transform-origin: left center;
}

p {
  color: #c09;
  max-width: 19em;
  transform: rotate(-5deg) translate(40px, 75px);
  transform-origin: left center;
}

a {
  transform: translate(45px, 70px);
}

.btn {
  color: #c09;
}

.btn-ghost {
  border-color: #990073;
}

a:hover {
  border-color: #990073;
  background-color:
}
