html {
  font-family: 'Fredoka One', cursive;
  background-image: repeating-linear-gradient(-40deg, #c9fcff, #c9fcff 10px, #d4fdff 10px, #d4fdff 20px);
}

h1 {
  color: #990073;
  transform: rotate(-10deg) translate(20px, 100px);
  transform-origin: left center;
}

p {
  color: #c09;
  max-width: 19em;
  transform: rotate(-5deg) translate(40px, 75px);
  transform-origin: left center;
}

a {
  transform: translate(45px, 70px);
}

.btn {
  color: #c09;
}

.btn-ghost {
  border-color: #990073;
}

a:hover {
  border-color: #990073;
  background-color:
}

.imgs {
  transform: scale(.5);
}

.cherry {
  transform: translateY(-150px);
  position: absolute;
  z-index: 10;
}

.vanilla {
  transform: translateY(-35px);
  position: absolute;
  z-index: 5;
}

.chocolate {
  transform: translate(15px, 90px);
  position: absolute;
  z-index: 2;
}

.mint {
  transform: translateY(210px);
  position: absolute;
}

.cone {
  transform: translateY(360px);
  position: absolute;
}
